@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Melno';
  font-style: normal;
  font-weight: 400;
  src: url('../public/font/menlo-regular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #4160A3;
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #3F3F3F;
}

::-webkit-scrollbar-thumb {
  background: #C7C7C7;
  border-radius: 10px 400px;
}

/* Tailwind problems as always :D */
input, textarea {
  --tw-ring-shadow: 0 0 #000 !important;
}

.select-disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}