@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/font/JosefinSans-Regular.ttf') format('truetype');
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #3F3F3F;
}

::-webkit-scrollbar-thumb {
  background: #C7C7C7;
  border-radius: 10px 400px;
}

/* Tailwind problems as always :D */
input, textarea {
  --tw-ring-shadow: 0 0 #000 !important;
}